<html>
  <head>
    <title>MVC com express</title>

    <body>
      <div>
        <p>Nome: <%= author.name %></p>
      </div>
      <a href="/authors">Voltar para a página inicial</a>
    </body>
  </head>
</html>